BODY {
	height: 100%;
	padding-right: 0px; 
	padding-left: 0px; 
	padding-top:0px;
	padding-bottom:0px;
	FONT-SIZE: 11px; 
	BACKGROUND-COLOR: #ffffff;
	MARGIN: 5px; 
	COLOR: #333333;  
	FONT-FAMILY: Arial, Helvetica, Sans Serif; 
	HEIGHT: 100%;
	margin-top: 0px;
	margin-left: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
.azul{
	margin-top: 0px;
	margin-left: 20px;
	margin-right: 0px;
	background-color:#242c5b;
	color:#ffffff;
	font-size:25px;
}
