@charset"utf-8";
body{
	background: linear-gradient(70deg, white, black);
	
}

h1{
	font: bold 300% monospace;
    text-decoration-line: underline;
    text-decoration-style: double;	
	
}

h3{
	font: bold 110% monospace;
    text-decoration-line: underline;
    	
}

table{
	border: black 5px solid;
	background-color: #C0C0C0;
    width: 50%;
}

td{
	border: black 0px solid;
	background-color: white;
	
}

span{
	font: bold 105% monospace;
}



